@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body {
    height: 100%;
    font-family: "Roboto", Helvetica, sans-serif !important;
    font-size: 1.1rem;
}

.navbar {
    height: 90px;
    background-color: white;
}
.splash-header {
    background: linear-gradient(180deg, rgba(52,151,253,1) 0%, rgba(255,255,255,0.2903536414565826) 100%), url('/assets/images/splash.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% - 90px);
    color: white;
}

.nav-item {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    align-items: center;
    display: flex;
}

.nav-item a {
    color: rgb(134, 134, 134);
    text-align: center;
    line-height: 1;
}

.active {
    color: rgba(52,151,253,1) !important;
}

.btn {
    border-radius: 4px !important;
}

.destination {
    img, .card-img-top {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }

}

.app-bg-gradient {
    background: linear-gradient(0deg, rgba(52,151,253,1) 0%, rgba(255,255,255,0) 50%)
}
